<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Trang chủ - Hệ thống gia hạn hộ chiếu</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container center">
  <h2>HỆ THỐNG GIA HẠN HỘ CHIẾU</h2>
  <p>Chọn chức năng:</p>
  <div class="button-group">
    <a class="btn" href="/register">Đăng ký gia hạn hộ chiếu</a>
    <a class="btn" href="/xt">Bộ phận Xác thực</a>
    <a class="btn" href="/xd">Bộ phận Xét duyệt</a>
    <a class="btn" href="/lt">Bộ phận Lưu trữ</a>
    <a class="btn" href="/gs">Bộ phận Giám sát</a>
  </div>
</div>
</body>
</html>
