<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>XD - Xét duyệt</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar">
  <ul>
    <li><a th:href="@{/user/renewal-submit}">Đơn đã gửi</a></li>
    <li><a th:href="@{/user/renewal-form}">Cấp lại hộ chiếu</a></li>
    <li><a th:href="@{/}">Đăng Xuất</a></li>
  </ul>
</nav>
<div class="container">
  <p>Thông tin đơn đã gửi</p>
  <table>
    <thead>
    <tr>
      <th>STT</th>
      <th>CMND</th>
      <th>Ngày tạo đơn</th>
      <th>Trạng thái</th>
      <th>Mô tả</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="renewal, stat : ${renewals}">
      <td th:text="${stat.count}">1</td>
      <td th:text="${renewal.cmnd}">cmnd</td>
      <td th:text="${renewal.create_date}">create_date</td>
      <td th:text="${renewal.status}">status</td>
      <td th:text="${renewal.descriptions}">descriptions</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>