<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>XT - Xác thực</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar">
  <ul>
    <li><a th:href="@{/xd/renewal}">Danh Sách Hồ Sơ</a></li>
    <li><a th:href="@{/xd/rules}">Quy Định</a></li>
    <li><a th:href="@{/xd/passport}">Thông tin hộ chiếu</a></li>
    <li><a th:href="@{/}">Đăng Xuất</a></li>
  </ul>
</nav>
<div class="container">
  <h2 th:text="${roleName}">Bộ phận Xác thực</h2>
  <p>Danh sách hộ chiếu</p>
  <table>
    <thead>
    <tr>
      <th>Mã hộ chiếu</th>
      <th>CMND</th>
      <th>Ngày cấp</th>
      <th>Ngày hết hạn</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="passport, stat : ${listPassport}">
      <td th:text="${stat.count}">1</td>
      <td th:text="${passport.id}">cmnd</td>
      <td th:text="${passport.cmnd}">district</td>
      <td th:text="${passport.create_date}">create_date</td>
      <td th:text="${passport.end_date}">end_date</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
