<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>XD - Xét duyệt</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar">
  <ul>
    <li><a th:href="@{/xd/renewal}">Danh Sách Hồ Sơ</a></li>
    <li><a th:href="@{/xd/rules}">Quy Định</a></li>
    <li><a th:href="@{/}">Đăng Xuất</a></li>
  </ul>
</nav>
<div class="container">
  <p>Quy định cấp lại hộ chiếu</p>
  <table>
    <thead>
    <tr>
      <th>STT</th>
      <th>CMND</th>
      <th>Quận</th>
      <th>Thời gian tạo đơn</th>
      <th>Trạng thái</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="renewal, stat : ${listRenewal}">
      <td th:text="${stat.count}">STT</td>
      <td th:text="${renewal.cmnd}">cmnd</td>
      <td th:text="${renewal.district}">district</td>
      <td th:text="${renewal.create_date}">create_date</td>
      <td th:text="${renewal.status}">status</td>
      <td>
        <button onclick="XDHandle()">Xét duyệt</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>